body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #e6ebed;
}
.grid-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "sidebar header" "sidebar main";
    height:100vh;
}
.header{
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba( 0, 0, 0, 0.2);
}
.header {
    color: #21232d;
}
.header i{
    font-size: 20px;
}
.header-left button {
    border: 1px black saddlebrown solid;
    border-radius: 5px; 
}
.header-left input{
    border-radius: 5px;
}
.header-right i{
margin-left: 5px;
}
#sidebar{
    grid-area:sidebar;
    height: 100%;
    background-color: #1e2021;
    color: white;
    overflow-y:auto;  
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sidebar-title{
    margin: 20px;
}
.sidebar-title p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.sidebar-list{
    padding:0;
    margin-top: 15px;
    list-style: none;
    color:black;
}
.sidebar-list-item{
    padding: 20px;
}
.sidebar-list-item:hover{
    background-color:rgba(255,255,255,0.2);
    cursor:pointer;
}
ul.sidebar-list a{
    text-decoration: none;
    color: #9790ab;
}
.main{
    min-height: 100%;
    padding: 6rem 1rem 2rem 14rem;
    color: #201f20;
}
.dashboard-container{
    padding: 25px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: "total1 total2 total3 total4 total4"
    "detail detail detail detail detail";
}
.card{
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
}
.total1{
    grid-area: total1;
    background-color: aquamarine;
    color: white;
}
.total2{
    grid-area: total2;
    background-color: rgb(175, 179, 49);
    color: white;
}
.total3{
    grid-area: total3;
    background-color: rgb(255, 144, 127);
    color: white;
}
.total4{
    grid-area: total4;
    background-color: rgb(127, 206, 255);
    color: white;
}
.detail{
 grid-area: detail;
 color: black;
}

.info{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.info-image{
    font-size: 40px;
    color:#21232d;
}


